@use '../../style/globals';

.intro-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 7rem 2rem 3rem 2rem;
  background-color: globals.$color-white;
  
  .intro-content {
    max-width: 500px;
    width: 100%;
    text-align: center;
    h1 {
      font-size: 3rem;
      line-height: 1.4;
      
      span {
        color: globals.$color-primary;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: globals.$color-gray-500;
    }
    .intro-buttons{
      display: flex;
      justify-content: center;
      width: fit-content;
      gap: 1rem;
      margin: 0 auto;
    }
    button, .button {
      display: block;
      width: fit-content;
      margin: 0 auto;
      margin-top: 1rem;
      min-height: 44px;
      padding: 0.75rem 1.25rem;
      border: none;
      border-radius: 5px;
      background-color:globals.$color-gray-300;
      color: globals.$color-gray-700;
      font-family: globals.$font-noto;
      font-size: 0.875rem;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color:globals.$color-gray-500;
        color: globals.$color-white;
      }
    }
  }
  .mobileVisible{
    display: block;
  }
}
@media (max-width: globals.$breakpoint-tablet) {
  .intro-section{
    padding: 4rem 0rem 2rem 0rem !important;
    .intro-content {
      padding: 0rem;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .mobileVisible{
    display: none;
  }
}

@media (max-width: globals.$breakpoint-mobile) {
  .intro-section .mobileVisible{
    display: none;
  }
}

// ---------------다크 모드---------------
.dark .intro-section {
  background-color: globals.$color-darkmode;
  .intro-content {
    h1 {
      color: globals.$color-white;
      span {
        color: globals.$color-primary-light;
      }
    }

    p {
      color: globals.$color-gray-300;
    }

    button, .button {
      background-color:globals.$color-gray-600;
      color: globals.$color-white;
      &:hover {
        background-color:globals.$color-gray-500;
        color: globals.$color-gray-900;
      }
    }
  }
}